@model Proyecto.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4 mb-4">Detalles de Nota Académica</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Información de la Nota</h5>
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Estudiante)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Estudiante)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Materia)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Materia)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Calificacion)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Calificacion)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FechaEvaluacion)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaEvaluacion)</dd>
        </dl>

        <div class="d-flex gap-2 mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-warning">Editar</a>
            <a asp-action="Index" class="btn btn-outline-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>